* {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10vh;
    gap: 5%;
    background-color: red;
}

.title h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

p {
    color: blue;
}

a {
    font-size: 20px;
}

.right-panel button {
    background-color: black;
    color: white;
    border-radius: 20px;
    margin: 0 50px;
    height: auto;
    width: auto;
}